/* ESTILO DA BARRA DE ROLAGEM */
html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px; /*largura da barra de rolagem*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*barra de rolagem*/
  background-color: rgba(128, 128, 128, 0.616);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  /*barra total*/
  background-color: var(--white-black);
}
/* FIM ESTILO DA BARRA DE ROLAGEM */

/* PERSONALIZED COLORS */
#app.theme--light {
  --white-black-op-05: rgba(0, 0, 0, 0.5);
  --white-black: white;
  --black-white: rgba(0, 0, 0, 0.2);
}
#app.theme--dark {
  --white-black-op-05: rgba(255, 255, 255, 0.5);
  --white-black: #1e1e1e;
  --black-white: rgba(255, 255, 255, 0.1);
}
/* END PERSONALIZED COLORS */

/* PRISM EDITOR STYLE */
.prism-editor-wrapper {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: var(--white-black);
  color: rgb(255, 0, 0);
  outline: none;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
}

.prism-editor-wrapper,
.prism-editor__container {
  min-height: 100% !important;
}

.prism-editor__line-numbers {
  border-right: 1px solid var(--black-white);
}

.prism-editor__line-numbers div {
  text-align: center !important;
}

.prism-editor__textarea {
  outline: transparent;
}

.token.operator {
  background-color: transparent !important;
}
/* END PRISM EDITOR STYLE */
